/*
Theme: Links
*/

@font-face {
	font-family: 'PTMono-Regular';
	src: url('../assets/fonts/PTMono-Regular-02.eot');
	src: local('â˜º'), url('../assets/fonts/PTMono-Regular-02.woff') format('woff'), url('../assets/fonts/PTMono-Regular-02.ttf') format('truetype'), url('../assets/fonts/PTMono-Regular-02.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


:root {
    
    --main-fontsize: 0.7vw;
    --main-lineheight: 1.05em;
    
    --pt-fontsize: 0.75vw;
    
}




html{
    overflow: auto;
}
body {
    font-family: 'helvetica';
    font-family: 'PTMono-Regular';
	font-size: var(--main-fontsize);
    line-height: var(--main-lineheight);
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body, select, input, textarea {
    color: #000;
    background-color: #808080;
}

a {color: #000; text-decoration: none;}
a:hover {color: #000;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #000; color: #fff; text-shadow: none;}
::selection {background: #000; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #000; color: #000;}

ins {background-color: #fff; color: #000; text-decoration: none;}
mark {background-color: #fff; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

.clearafter:after{
    content: '';
    display: block;
    clear: both;
}


.blink {
    animation: blink 2s infinite;
}

@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

/*
-------------------------------------------------------------------------------*/

body {
    
}


header {
    padding: 20px;
    padding-right: calc(50% + 3vw);
    margin-bottom: 2vw;
/*    font-weight: bold;*/
}

.candelabro {
    position: absolute;
    width: 4vw;
    left: 48vw;
    top: 1vw;
}


.buttons-wrapper {
    padding: 0 10px;
    margin-bottom: 20px;
}
.link-button-wrapper {
    padding: 10px;
}
.link-button {
    font-family: 'PTMono-Regular';
    font-size: var(--pt-fontsize);
    background-color: #00ff00;
    text-align: center;
    padding: 20px 0;
    height: 2.8vw;
}
.link-button.double {
    padding: calc(20px - 0.5em) 0;
}





/* preview images
-------------------------------------------------------------------------------*/
.preview-wrapper {
    padding: 0 20px;
}
.preview-image {
    height: 18vw;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    box-shadow: 0 0 20px #00000030;
}
.preview-wrapper .link-button-wrapper {
    padding: 20px;
}
.preview-wrapper .site-title {
    font-family: 'PTMono-Regular';
    font-size: var(--pt-fontsize);
    text-align: center;
    padding: 20px 0;
}




/* FOOTER
-------------------------------------------------------------------------------*/
footer {
    padding: 20px 10px;
}

/* 
-------------------------------------------------------------------------------*/



.col-md-2{
    width: 16.66%;
    float: left;
}
.col-md-3{
    width: 25%;
    float: left;
}
.col-md-4{
    width: 33.33%;
    float: left;
}
.col-md-5{
    width: 41.66%;
    float: left;
}
.col-md-6{
    width: 50%;
    float: left;
}
.col-md-8{
    width: 66.66%;
    float: left;
}
.col-md-9{
    width: 75%;
    float: left;
}
.col-md-12{
    width: 100%;
    float: left;
}

.mobile{display: none;}



@media screen and (max-width: 960px) {
    
    
    :root {
    
        --main-fontsize: 3vw;
        --main-lineheight: 1.16em;

        --pt-fontsize: 3.5vw;
    }


    .desktop{display: none;}
	.mobile{display: block;}
    
    body{
        padding-top: 0;
    }
    
    
    header {
        position: inherit;
        padding: 10px;
    }

    .candelabro {
        position: inherit;
        width: 20vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    
    
    
    
    .buttons-wrapper {
        padding: 0;
    }
    .link-button {
        height: auto;
        height: 15vw;
    }
    .link-button-wrapper {
        padding: 10px;
        padding-top: 0;
    }
    .link-button {
        font-size: var(--pt-fontsize);
        line-height: 1.2em;
        font-family: 'PTMono-Regular';
        background-color: #00ff00;
        text-align: center;
        padding: 20px 10px;
    }
    
    
    
    
    /* preview images
    -------------------------------------------------------------------------------*/
    .preview-wrapper {
        padding: 0 10px;
    }
    .preview-wrapper .link-button-wrapper {
        padding: 0 10px;
    }
    
    .preview-image {
        height: 60vw;
    }
    
    
    .preview-wrapper .site-title {
        padding-top: 10px;
        padding-bottom: 10vw;
        height: calc(4em + 8vw);
    }
    


    
    /*  
    -------------------------------------------------------------------------------*/
    
    
    .col-sm-50{
        width: 50%;
        float: left;
    }
    .col-sm-100{
        width: 100%;
        float: left;
    }
        
} 





/* My Styles */

.home {  
    /* border: "8px solid red"; */
    background-color: gray;
    margin-left: 15%;
    margin-right: 15%;
}

.boxes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid red;
}

.box {
    width: 30%;
    height: 50px;
    background-color: #00FF00;
    margin-bottom: 20px;
}